astunparse
attrs
cachetools
certifi
chardet
click
configparser
cycler
dill
docker-pycreds
einops
filelock
flatbuffers
future
gast
gdown
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
googleapis-common-protos
gql
graphql-core
grpcio
h5py
huggingface-hub
idna
joblib
keras-nightly
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
numpy
nvidia-ml-py3
oauthlib
opt-einsum
packaging
pandas
pathtools
Pillow
Pillow-SIMD
promise
protobuf
psutil
pyasn1
pyasn1-modules
pyparsing
PySocks
python-dateutil
pytz
PyYAML
requests
requests-oauthlib
rsa
scipy
seaborn
sentry-sdk
shortuuid
six
smmap
subprocess32
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorboardX
tensorflow
tensorflow-datasets
tensorflow-estimator
tensorflow-metadata
termcolor
threadpoolctl
timm
torch
torchsummary
torchtext
torchvision
tqdm
typing-extensions
urllib3
wandb
watchdog
Werkzeug
wrapt